<p id="notice"><%= notice %></p>

<table>
	<thead>
		<th>student</th>
		<th>start date</th>
		<th>end date</th>
		<th>status</th>
		<th>remark</th>
	</thead>
	<tbody>
		<tr>
			<td><%=@attendance.teacher.name%></td>
			<td><%=@attendance.start_date%></td>
			<td><%=@attendance.end_date%></td>
			<td><%=@attendance.status%></td>
			<td><%=@attendance.remark%></td>
		</tr>
	</tbody>
</table>

<%= link_to 'Edit', edit_attendance_path(@attendance) %> |
<%= link_to 'Back', attendances_path %>
