  <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navigation Menu Demo</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" integrity="sha512-NhSC1YmyruXifcj/KFRWoC561YpHpc5Jtzgvbuzx5VozKpWvQ+4nXhPdFgmx8xqexRcpAglTj9sIBWINXa8x5w==" crossorigin="anonymous" />
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header style="background-color: #042331;">
        <a href="#" class="logo" style="font-size: 25px;">Dashboard</a>
        <nav>
            <ul>
              <% if user_signed_in? %>
               <div style="font-size: 15px"> Logged in as <strong><%= current_user.email %></strong>.</div>
                <li><%= link_to 'Edit profile', edit_user_registration_path %> |</li>
                <li><%= link_to "Logout", destroy_user_session_path, data: { turbo_method: :delete } %></li>
              <% else %>
                <li><%= link_to "Sign up", new_user_registration_path %> |</li>
                <li><%= link_to "Login", new_user_session_path %></li>
              <% end %>
            </ul>
        </nav>
    </header>
</body>
</html>

